.venv*/
.tmp/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
data/alerts/*
!data/alerts/.gitkeep
data/models/*
!data/models/.gitkeep
data/known_faces/*
!data/known_faces/.gitkeep
*.egg-info/
*.avi
*.mp4
*.mov
*.mkv
